.filterContainer {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    width: 100%;
    padding: 1rem 1rem 0 1rem;
}

.filterBar {
    display: flex;
}

.filters {
    display: flex;
    gap: 1rem;
    width: 100%;
    flex-wrap: wrap;
}

.filterItem {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    flex: 1;
}

.select {
    padding: 0.5rem;
    border: 2px solid rgba(229, 229, 229);
    border-radius: 12px;
    background-color: white;
    flex: 1;
    font-size: 16px;
    outline: none;
    color: black;
}

.search {
  width: 100%;
  border: 2px solid rgba(229, 229, 229);
  background: #fff;
  border-radius: 12px;
  padding: 12px 12px;
  font-size: 16px;
  outline: none;
}

.search:focus, select:focus, .select:focus-visible {
  border-color: #1b2a89;
  background: #fff;
}